
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            background-color: #1c799e;
            color: white;
            font-size: 30px;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        p {
            font-size: 20px;
            margin: 20px 10%;
            color: #333;
        }

        img {
            display: block;
            max-width: 80%;
            margin: 10px auto;
            border: 2px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .back-button {
            float: left;
            margin: 20px;
        }

        .back-button a {
            text-decoration: none;
            font-size: 18px;
            color: white;
            background-color:#1c799e;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }

        .back-button a:hover {
            background-color: #ea9438;;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 24px;
                padding: 15px;
            }

            p {
                font-size: 18px;
                margin: 15px 5%;
            }

            img {
                max-width: 90%;
            }

            .back-button a {
                font-size: 16px;
                padding: 8px 15px;
            }
        }
